@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay:wght@700&display=swap');

body
{
	background: #b9cdff;
	margin: 0px;
}

.gallerie
{
	font-family: Cambay;
	color: #ffffff;
}

.title 
{
	display: flex;
	justify-content: center;
}

.title p
{
	color: #4E7FFF;
	font-size: 22px;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 25px;
}

.title #name
{
	font-size : 48px;
}

.nav
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	background-image: url("pictures/bck_acceuil.jpg");
	background-size: cover;
	width: 100%;
	height: 400px;
}

.nav button
{
	background: #4E7FFF;
	color: #ffffff;
	width: 288px;
	height: 100px;
	font-size: 20px;
	border: 0px;
	border-radius: 15px;
	opacity: 75%;
}

.subtitle
{
	background: #4E7FFF;
	color: #ffffff;
	text-align: center;
	font-size: 34px;
}

.pictures
{
	/* display: grid;
	justify-content: center;
	grid-template-columns: 600px 600px;
	grid-template-rows: 400px 400px 400px 400px 400px;
	gap: 25px 25px; */
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	gap: 75px;
	margin-bottom: 35px;
}

.pictures div
{
	height: 400px;
	width: 600px;
}

#pctr1 p, #pctr3 p, #pctr5 p, #pctr7 p, #pctr9 p
{
	background: #4E7FFF;
	text-align: right;
	opacity: 75%;
	margin: 0px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#pctr2 p, #pctr4 p, #pctr6 p, #pctr8 p, #pctra p
{
	background: #4E7FFF;
	text-align: left;
	opacity: 75%;
	margin: 0px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#pctr1
{
	background-image: url("hight_place/pont_europe.jpg");
	background-size: cover;
}

#pctr2
{
	background-image: url("hight_place/cathedrale_orleans.jpeg");
	background-size: cover;
}

#pctr3
{
	background-image: url("hight_place/jardin_plantes.jpg");
	background-size: cover;
}

#pctr4
{
	background-image: url("hight_place/statue_ja.jpg");
	background-size: cover;
}

#pctr5
{
	background-image: url("hight_place/chateau_gien.jpg");
	background-size: cover;
}

#pctr6
{
	background-image: url("hight_place/foret_orleans.jpg");
	background-size: cover;
}

#pctr7
{
	background-image: url("hight_place/musé_beauarts.jpg");
	background-size: cover;
}

#pctr8
{
	background-image: url("hight_place/Maison_de_Loire_du_Loiret.jpg");
	background-size: cover;
}

#pctr9
{
	background-image: url("hight_place/chateau_ferté.jpg");
	background-size: cover;
}

#pctra
{
	background-image: url("hight_place/chateau_muguet.jpg");
	background-size: cover;
}

.footer
{
	background-image: url("pictures/chateau_parcfloral.jpg");
	background-size: cover;
	width: 100%;
	height: 472px;
	display: flex;
	align-items: flex-end;
	text-align: right;
}

div.footer p
{
	background: #4E7FFF;
	opacity: 75%;
	font-size: 20px;
	width: 100%;
	margin: 0px;
}

div.footer p a
{
	color: #ffffff;
	text-decoration: none;
	background: #1457ff;
	padding-left: 10px;
	padding-right: 10px;
}

div.footer p a:hover
{
	color: #000000;	
}