body
{
	background: #0a0a0a;
	margin: 0px;
}

.history
{
	font-family: Arial;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

.title
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
}

.title p
{
	background: #656565;
	border-radius: 25px;
	padding: 20px;
	font-size: 28px;
}

@media (max-width:320px)
{
	.title p
	{
		height: 30px;
	}
}

.nav
{
	position: absolute;
	left: 20px;
	top: 35px;
}

@media (max-width:650px)
{
	.nav
	{
		top: 95px;
	}
}

.nav p
{
	background: #606060;
	margin: 15px;
	padding: 5px;
	border-radius: 10px;
	border: solid 4px;
	border-color: #606060;
	right: 0px;
	bottom: 0px;
	font-size: 20px;
	text-align: center;
	transition-duration: 0.2s;
}

.nav p:hover
{
	background: #d0d0d0;
	transition-duration: 0.2s;
}

.nav a
{
	text-decoration: none;
	color: #000000;
	padding: 10px;
	border-radius: 15px;
}

.list
{
	background: #202020;
	margin-top: 20px;
	padding-top: 45px;
	padding-bottom: 30px;
}

.list form
{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	text-align: center;
}

table
{
	font-size: 20px;
	vertical-align: middle;
}

td
{
	padding: 20px;
	border: solid 2px;
	border-color: #606060;
	color: #d0d0d0;
	transition-duration: 0.2s;
}

td#col
{
	background-color: #606060;
	color: #000000;
}

/* td
{
	border: dashed #252525;
} */

th#full
{
	background-color: #0a0a0a;
}

.btn
{
	margin-top: 25px;
}

.btn button
{
	margin-left: 20px;
	margin-right: 20px;
}

#del, #mod_btn_open
{
	border-radius: 10px;
	background: #606060;
	border: solid 4px;
	border-color: #606060;
	padding: 15px;
	font-size: 20px;
	transition-duration: 0.2s;
}

@media (max-width: 625px)
{
	#del, #mod_btn_open
	{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

#del:hover, #mod_btn_open:hover
{
	background: #d0d0d0;
	transition-duration: 0.2s;
}

input[type='checkbox']
{
	transition-duration: 1.0s;
}

input[type='checkbox']:checked
{
	transform: scale(1.5);
	transition-duration: 1.0s;
}

div.modal
{
	display: none;
	position: fixed;
	padding: 30px;
	top: 20%;
	left: 100px;
	background: #656565;
	border: solid 6px;
	border-color: #252525;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

@media (max-width:600px)
{
	div.modal
	{
		left: 30px;
	}
}

div.modal_content
{
	position: relative;
	background: #656565;
	padding: 0px;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

div.modal_container form
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Arial;
	font-size: 18px;
}

div.modal_container form div input
{
	width: 200px;
	height: 20px;
	background-color: #a0a0a0;
	border-radius: 10px;
	font-family: Arial;
	font-size: 18px;
}

div.modal_container form div select
{
	background-color: #a0a0a0;
	border: solid 3px;
	border-color: #252525;
	font-family: Arial;
	font-size: 18px;
}

#return, #change
{
	background: #a0a0a0;
	border-radius: 10px;
	font-size: 20px;
	padding: 8px;
}

div.filter button
{
	font-size: 18px;
	background: #606060;
	border-radius: 5px;
	border: solid 2px;
	border-color: #606060;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	transition-duration: 0.2s;
}

div.filter button:hover
{
	background: #d0d0d0;
	transition-duration: 0.2s;
}

@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:20%; opacity:1}
  }

  @keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:20%; opacity:1}
  }

/* Style du message temporaire */
#snackbar {
	visibility: hidden; /* Hidden by default. Visible on click */
	min-width: 250px; /* Set a default minimum width */
	margin-left: -125px; /* Divide value of min-width by 2 */
	background-color: #333; /* Black background color */
	color: #fff; /* White text color */
	text-align: center; /* Centered text */
	border-radius: 2px; /* Rounded borders */
	padding: 16px; /* Padding */
	position: fixed; /* Sit on top of the screen */
	z-index: 1; /* Add a z-index if needed */
	left: 50%; /* Center the snackbar */
	bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
	visibility: visible; /* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }