div
{
	font-family: sans-serif;
}

.box
{
	background: #0081ff;
	color: #ffffff;
}

.firstr
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	column-gap: 45px;
}

.skill
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	column-gap: 60px;
}

div.about_me p
{
	font-family: "Arial Black";
	font-size: 20px;
	width: 280px;
}

div.about_me h1
{
	font-weight: normal;
	font-size: 18px;
}

.about_me2
{
	font-size: smaller;
}

#ame2p
{
	margin-top: 67px;
	text-align: justify;
	width: 377px;
}

img
{
	width: 60px;
	height: 60px;
}

.skill
{
	flex-direction: row;
	flex-basis: 100%;
	background: #0081aa;
}

.first
{
	width: 180px;
	font-size: 12px;
}

.second
{
	width: 180px;
	font-size: 12px;
}

.third
{
	width: 200px;
	font-size: 12px;
}

#titre
{
	font-size: 15px;
	font-weight: bold;
}

.footer
{
	text-align: center;
}